html {
    background: #182544;
}

:root {
    --middleblue: #0090ff;
    --lightblue: #40c9ff;
    --pink: #e81cff;
}

.desk-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 1rem auto;
}

.card {
    width: 24rem;
    height: 24rem;
    border-radius: 30px;
    background: #000000;
    box-shadow: 15px 15px 30px var(--pink),
        -15px -15px 30px var(--lightblue);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    max-width: 8rem;
    max-height: 8rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 7rem;
    background: var(--primary);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: var(--fifth);
    border-radius: 20%;
    margin-bottom: 5rem;
    color: var(--third);
    margin-left: 5rem;
    margin-right: 5rem;
    color: #ffffff;
}