html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
}

:root {
    --middleblue: #0090ff;
    --lightblue: #40c9ff;
    --pink: #e81cff;
    --orange: #f73414;
    --gray: #1e2e34;
}

.header {
    text-align: center;
    color: var(--gray);
    font-size: 3rem;

}

.image {
    max-width: 8rem;
    max-height: 8rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 24rem;
    height: 24rem;
    border-radius: 90px;
    background-color: var(--gray);
    color: var(--orange);
    box-shadow: 1rem 1rem 2rem var(--pink),
        -1rem -1rem 2rem var(--lightblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    justify-content: center;
    overflow: hidden;
}

.card:hover {
    background-color: var(--orange);
    color: var(--gray);
}

.card:hover>div {
    opacity: 0%;
}

.card:hover>p {
    top: 0;
    font-size: 2rem;
}

.card span {
    position: relative;
    max-width: 0.000001rem;
    max-height: 0.00001rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
}

.card:hover span {
    opacity: 100%;
    max-width: 100rem;
    max-height: 1000rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    transition: 0.3s;
    position: absolute;
    overflow: hidden;
    font-size: 1rem;
}

.spanImage {
    max-width: 2.8rem;
    max-height: 2.8rem;
}

.spanText {
    font-size: 1rem;
}

.spancontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.desk-nav{
display:flex;
flex-direction:row;
align-items: center;
justify-content: space-between;
width: 90vw;
margin: 1rem auto;
}

.spanTextcontainer{
    max-width: 20rem;
}

.button{
    font-size: 3rem;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
}

#background{
   height: 100vh;
   width: 100vw;
}